body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgba(245, 243, 243, 1);
  overflow: hidden;
  width: 100%;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.placeholder-text {
  color: rgba(114, 3, 93, 1);
  font-size: 3rem;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  margin: 1rem 2rem;
  text-align: center;
}
.event-name,
.countdown {
  color: rgba(114, 3, 93, 1);
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  margin: 1rem 2rem;
}
.event-name {
  color: rgba(114, 3, 93, 1);
  margin-bottom: 10px;
}

.countdown {
  color: #000000;
  font-weight: 400;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  form {
    width: 70%;
    flex-direction: row;
  }
}
label {
  font-size: 0.8rem;
  color: #333;
  position: absolute;
  left: 12px;
  background-color: rgba(245, 243, 243, 1);
  padding: 0 5px;
  transition: all 0.2s ease;
}

.input-group {
  display: flex;
  position: relative;
  width: 100%;
}

input {
  padding: 12px;
  margin: 10px;
  font-size: 1rem;
  border: 1px solid rgba(117, 117, 117, 1);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(245, 243, 243, 1);
}

input:focus {
  outline: none;
  border-color: rgba(114, 3, 93, 1);
}

form .input-group {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  background-color: rgba(245, 243, 243, 1);
}

input[type="datetime-local"] {
  background-color: rgba(245, 243, 243, 1);
}
.error {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
